:root {
	--illini-blue: #13294B;
	--illini-orange: #FF5F05;
	--cancel: #E03325;
	--eggshell: #F3EFDE;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'VT323', monospace;
}

@keyframes fade-in {
	0% { opacity: 0; },
	100% { opacity: 1!important; }
}

/* @keyframes bg-fade-out {
	0% { background-opacity: 1!important; },
	100% { background-opacity: 0.67!important; }
} */

.hidden {
	display: none!important;
}

div.loading {
	background: #13294Bff;
	/* animation-name bg-fade-out; */
	/* animation-duration: 5s; */
	/* animation: 5s bg-fade-out forwards; */
	/* animation-delay: 2s; */
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;

	/* background: var(--illini-blue); */
	/* background: #13294Baa; */
	/* background: #13294Bff; */
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


div.loading span {
	color: var(--eggshell);
	font-size: 2rem;
	opacity: 0;
	line-height: 2rem;
}

div.loading span.visible {
	animation: 1s fade-in forwards;
	opacity: 1;
}

.bigrightarrow {
	height: 2rem;
	image-rendering: pixelated;
}

.create-event {
	/* display: flex; */
	background-color: var(--illini-blue);
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	border: none;
	border-radius: 5px;
	/* font-size: 3rem; */
	margin: 1rem;
	/* display: none; */
	font-family: 'VT323', monospace;
	outline: none;
}

.crop {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.change-view {
	/* display: flex; */
	outline: none;
	background-color: var(--illini-blue);
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	border: none;
	border-radius: 5px;
	/* font-size: 3rem; */
	margin: -0.25rem 1rem;
	font-family: 'VT323', monospace;
	padding: 1px 6px;
}

/* .create-event img {
	width: 80%;
} */

img.alma {
	width: 20vh;
	height: 20vh;
}

img.play {
	width: 10rem;
	height: auto;
	cursor: pointer;
	image-rendering: pixelated;
	opacity: 0;
	padding-top: 2rem;
}

img.play.visible {
	animation: 1s fade-in forwards;
	opacity: 1;
}

div.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	pointer-events: none;
/*	display: flex;*/
}

div.overlay * {
	pointer-events: initial;
}

.desktop-container {
	display: flex;
	width: screen;
	align-items: center;
	justify-content: center;
}

.usertab {
	position: absolute;
	bottom: 0;
	height: 5rem;
	width: calc(100% - 2rem);
	margin: 1rem;
	border-radius: 3px;
	background: var(--illini-blue);
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: space-between;
	/* max-width: 800px; */
}

.stats {
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar-preview {
	background: var(--eggshell);
	margin: 5px;
	border-radius: 3px;
	height: calc(5rem - 12px);
	width: calc(5rem - 12px);
}

.usertab .username {
	color: var(--eggshell);
	font-size: 3rem;
	margin-left: 1rem;
}

.usertab .stats {
	height: 100%;
	width: 5rem;
}

.usertab .stats img {
	height: 4rem;
	box-sizing: border-box;
	image-rendering: pixelated;
}

.prompt {
	position: absolute;
	top: 0;
	padding: 1rem;
	box-sizing: border-box;
	width: calc(100% - 2rem);
	margin: 1rem;
	border-radius: 3px;
	background: var(--illini-blue);
	flex-direction: column;
	/* max-width: 800px; */
	align-items: center;
	justify-content: center;

	display: none;
}

.prompt .info {
	font-size: 2rem;
	color: var(--eggshell);
	padding-bottom: 0.75rem;
}

.prompt .info .step {
	color: var(--illini-orange);
}

.prompt .response {
	display: flex;
	flex-direction: row;
	justify-content: start;
	height: 3rem;
}

.prompt button {
	font-size: 1.5rem;
}

.prompt .backarrow {
	width: 3rem;
	margin-right: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'VT323', monospace;
	display: none;
}

.prompt .frontarrow {
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'VT323', monospace;
}


.prompt input {
	background: rgba(191, 191, 191, 0.25);
	outline: none;
	border: none;
	border-radius: 3px;
	width: 15rem;
	margin-right: 0.75rem;
	font-size: 1rem;

	text-align: center;
	padding: 0px 5px;
	font-family: 'VT323', monospace;;
	color: white;
}

::placeholder {
    text-align: center;
	padding: 0px 5px;
	font-family: 'VT323', monospace;;
}

.cache {
	display: none;
}

.event-confirm {
	display: none;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	height: 5rem;
	width: calc(100% - 2rem);
	margin: 1rem;
	border-radius: 3px;
	display: none;
	align-items: center;
	justify-content: start;
}

.event-confirm .cancel {
	width: 5rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'VT323', monospace;
	background-color: var(--cancel);
	border-style: none;
	border-radius: 5px;
	margin-right: 0.75rem;
}

.event-confirm .confirm {
	/* width: 75%; */
	width: calc(100% - 5rem);
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'VT323', monospace;
	background-color: var(--eggshell);
	border-style: none;
	border-radius: 5px;
}

.zoom-container {
	background: var(--illini-blue);
	width: 3rem;
	margin: 1rem;
	border-radius: 3px;
	box-sizing: border-box;
	height: 8rem;
}

input.slider {
	/* writing-mode: bt-lr; */
	-webkit-appearance: slider-vertical;
	height: calc(100% - 1rem);
	display: block;
	width: 3rem;
	top: 0.5rem;
	position: relative;
	margin: 0;
}

/* .slider { */
	/* -webkit-appearance: none; */
	/* width: 100%; */
	/* height: 10px; */
	/* border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s; */
  /* } */

/* .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
	height: 24px;
	border: 0;
	background: url('../assets/sliderthumb.png');
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 23px;
	height: 24px;
	border: 0;
	background: url('../assets/sliderthumb.png');
	cursor: pointer;
} */